
#box1{
     width: 90%px;
     height: 600px;
    }
    #box{
        width: 88%;
        height: 400px;
    }
    img{ 
        position: relative;
        left: 200px;
        top:30px;
        border-style: none;
        height:300px ;
         width: 300px;
        }
        table{
            border-spacing:10px;
        }
p{
    position: relative;
  
    text-align: right;
}
#btn{
    position: relative;
    left: 150px;
    width: 70px;
}
#seat
{
    width: 50px;
}